<h3>Lista de Usuários Administrador 1</h3>

<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Nome</td>
      <td>Idade</td>
      <td>Perfil</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of listaUsuarios$ | async">
      <td>{{ row.id }}</td>
      <td>{{ row.nome }}</td>
      <td>{{ row.idade }}</td>
      <td>{{ row.perfil }}</td>
    </tr>
  </tbody>
</table>
<br />
<h3>Lista de Usuários Administrador 2</h3>

<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Nome</td>
      <td>Idade</td>
      <td>Perfil</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of listaUsuarios">
      <td>{{ row.id }}</td>
      <td>{{ row.nome }}</td>
      <td>{{ row.idade }}</td>
      <td>{{ row.perfil }}</td>
    </tr>
  </tbody>
</table>
<br />
<h3>Lista de Usuários Administrador 3</h3>

<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Nome</td>
      <td>Idade</td>
      <td>Perfil</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of listaUsuarios3">
      <td>{{ row.id }}</td>
      <td>{{ row.nome }}</td>
      <td>{{ row.idade }}</td>
      <td>{{ row.perfil }}</td>
    </tr>
  </tbody>
</table>
<br />
<h3>Lista de Usuários Administrador 4</h3>

<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Nome</td>
      <td>Idade</td>
      <td>Perfil</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of listaUsuarios4">
      <td>{{ row.id }}</td>
      <td>{{ row.nome }}</td>
      <td>{{ row.idade }}</td>
      <td>{{ row.perfil }}</td>
    </tr>
  </tbody>
</table>
<br />
<h3>Lista de Usuários Administrador 5</h3>

<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Nome</td>
      <td>Idade</td>
      <td>Perfil</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of listaUsuarios5$ | async">
      <td>{{ row.id }}</td>
      <td>{{ row.nome }}</td>
      <td>{{ row.idade }}</td>
      <td>{{ row.perfil }}</td>
    </tr>
  </tbody>
</table>
